@media(max-width:1200px){
    .wrapper{
        width: 80%;
    }
    .logo_end .logo_end_fon .overlay1 .final_part {
        margin-top: 100px;
    }
    .logo_end .logo_end_fon .overlay1 .wrapper .logo_end1>li .gallery>li .gallery1>img {
        height: 60px;
        width: 59px;
        padding: 10px 2px;
    }
    .content .wrapper .image_content .content_image>p {
        width: 100%;
        background-color: #2980b9;
        padding-top: 10px;
        margin-top: -10px;
    }
    .testimonials .testimonials_fon .overlay1 .wrapper .frame_list1 .frame1 {
        border: 2px rgb(120, 120, 120) solid;
        width: 450px;
        margin-bottom: 10px;
        height: 260px;
    }
    .testimonials .testimonials_fon .overlay1 .wrapper .frame_list1 .frame2 {
        border: 2px rgb(120, 120, 120) solid;
        width: 450px;
        margin-bottom: 10px;
        height: 260px;
    }
    .testimonials .testimonials_fon .overlay1 .wrapper .line {
        padding-top: 40px;
        display: flex;
        width: 250px;
        margin-left:350px;
    }
}
@media (max-width:900px){
    .page-content .block .wrapper .text .element {
        display: none;
    }
    .page-content .block .wrapper .mobile .mobile1 {
       display: block;
    }
    .page-header .wrapper .menu .mobile>a {
        display: block;
    }
    .page-header .wrapper .menu .menu-item>a{
        display: none;
    }
    .page-header .wrapper .menu .stile{
        display: none;
    }
    .page-header .wrapper .menu .stile2{
        display: none;
    }
    .logo_end .logo_end_fon .overlay1 .wrapper .logo_end1>li .gallery>li{
        display: none;
    }
    .logo_end .logo_end_fon .overlay1 .wrapper .logo_end1>li .mobile {
        display: block;
    }
    .testimonials .testimonials_fon .overlay1 .wrapper .frame_list1 .frame1 .img_experienced1{
        padding-top: 70px;
        width: 80px;
        height: 100px;
    }
    .testimonials .testimonials_fon .overlay1 .wrapper .frame_list1 .frame2 .img_experienced2{
        padding-top: 70px;
        width: 80px;
        height: 100px;
        
    }
   
    
    .testimonials .testimonials_fon .overlay1 .wrapper .frame_list1 .frame1 .text_fon>h1 {
        padding-top: 70px;
        padding-left: 10px;
        color: rgb(255, 255, 255);
        font-size: 12px;
        
    }
    
    .testimonials .testimonials_fon .overlay1 .wrapper .frame_list1 .frame1 .text_fon>h2 {
        padding-left: 10px;
        color: rgb(255, 255, 255);
        padding-top: 10px;
        font-size: 10px;
        
    }
    
    .testimonials .testimonials_fon .overlay1 .wrapper .frame_list1 .frame1 .text_fon>h3 {
        padding-left: 10px;
        color: rgb(255, 255, 255);
        width: 198px;
        
    }
    .testimonials .testimonials_fon .overlay1 .wrapper .frame_list1 .frame2 .text_fon1>h4 {
        padding-top: 70px;
        padding-left: 10px;
        color: rgb(255, 255, 255);
        font-size: 12px;
        
    }
    
    .testimonials .testimonials_fon .overlay1 .wrapper .frame_list1 .frame2 .text_fon1>h5 {
        padding-left: 10px;
        color: rgb(255, 255, 255);
        padding-top: 10px;
        font-size: 10px;
        
    }
    
    .testimonials .testimonials_fon .overlay1 .wrapper .frame_list1 .frame2 .text_fon1>h6 {
        padding-left: 10px;
        color: rgb(255, 255, 255);
        width: 198px;
    
    }
    .testimonials .testimonials_fon .overlay1 .wrapper .frame_list1 .frame1 {
        border: 2px rgb(120, 120, 120) solid;
        max-width:47%;
        margin-bottom: 10px;
        max-height: 260px;
    }
    .testimonials .testimonials_fon .overlay1 .wrapper .frame_list1 .frame2{
        border: 2px rgb(120, 120, 120) solid;
        max-width: 47%;
        margin-bottom: 10px;
        max-height: 260px;
    }
    .testimonials .testimonials_fon .overlay1 .wrapper .line {
        padding-top: 40px;
        display: flex;
        width: 250px;
        margin-left: 31%;
    }
    .content .wrapper .image_content .content_image .color_text {
        font-weight: bold;
        font-size: 13px;
        color: rgb(250, 250, 250);
        text-align: left;
    }
    .content .wrapper .image_content .content_image>p {
        width: 100%;
        background-color: #2980b9;
        padding-top: 10px;
        margin-top: -4px;
    }
    
    .log_password .wrapper .content>li .button {
        margin-top: 20px;
        padding: 10px;
        width: 35%;
        border-radius: 3px;
        background-color: rgb(76, 168, 76);
    }
    .featuer_projects .wrapper .content2>li>p {
        background-color: rgba(41, 128, 185, 0.9);
        color: rgb(245, 245, 245);
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 100px;
        left: 0;
        font-size: 12px;
        padding: 10px;
    }
    .latest .wrapper .content3 .adm_calendar{
        display:none;
    }
    .latest .wrapper .content3 .content_image3 .adm_calendar>ul>li .admin{
        display: none;
    }
    .latest .wrapper .content3 .content_image3 .adm_calendar>ul>li .admin>ul>li>h2 {
       display: none;
    }
    .latest .wrapper .content3 .content_image3>h2 {
        display: none;
    }
    .latest .wrapper .content3 .content_image3>p {
        margin-top: 15px;
        font-size: 15px;
        font-weight: bold;
        padding-left: 15px;
    }
}

